@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root{
    --primary-color:#0891B2;
}


body{
    font-family: 'Noto Sans', sans-serif;
}

hr{
    margin: 2rem 0rem;
}

/** container **/
.container{
   padding: 0rem 1rem;
}

.container-centre{

    max-width: 600px;
    margin: auto;
}

/** Links**/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem ;
    
}

.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link{

    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}



/** Lists **/

.non-bullet{
    list-style: none;
}

.list-item-inline{

    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation**/

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link{
    color: white;
    
}

.navigation .nav-pills{
    text-align: right;
    padding: 1rem;
}

.nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.link-active{
    font-weight: bold;
}